# Byte-compiled / optimized / DLL files
dist
build
__pycache__
*.py[cod]
*$py.class
*.swp
*.egg-info
_build
.tox
.coverage
coverage
docs/_build/

# Nix shell
shell.nix

# Vagrant
.vagrant

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# PyCharm project settings
.idea

# VSCode project settings
.vscode

# Virtualenv
venv/

# NGINX logs
access.log

# Automatic versioning
galene_stream/version.py
